header {
  position: sticky;
  top: 0%;
  z-index: 100;
}

nav {
  height: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  background-color: black;
}

nav ul {
  height: 65px;
  display: flex;
  align-items: center;
}

.main-nav--right {
  margin-right: 20px;
  justify-content: flex-end;
}

nav ul li a {
  color: white;
  margin: 0 15px;
  font-size: 0.9em;
}

nav ul li img {
  height: 80px;
}
